streamlit
python-dotenv
requests
moviepy
imageio-ffmpeg
ffmpeg-python
yt-dlp
Pillow
openai-whisper
openai
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
numpy<2.0.0
pandas
tiktoken
opencv-python-headless
mediapipe