# --- COEUR DU SAAS ---
streamlit
python-dotenv
requests

# --- MOTEUR VIDÉO & AUDIO ---
moviepy
imageio-ffmpeg
ffmpeg-python
yt-dlp
Pillow

# --- INTELLIGENCE ARTIFICIELLE & DATA ---
openai-whisper
openai
torch
torchvision
torchaudio
numpy
pandas
tiktoken

# --- TRAITEMENT D'IMAGE & TRACKING ---
opencv-python-headless
mediapipe